body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav {
    background-color: #1D7DB1;
    padding: 10px;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.menu li a:hover {
    background-color: #0090DB;
}

h1 {
    color: #1D7DB1;
}

.botoes {
    list-style: none;
    padding: 0;
}

.botoes li {
    margin: 10px 0;
}

.botoes a {
    display: inline-block;
    background: #1D7DB1;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.botoes a:hover {
    background-color: #0090DB;
}

section {
    padding: 20px;
    text-align: left;
    margin: 20px;
}

h1 {
    color: #1D7DB1;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

ul li {
    font-size: 1.2em;
    color: #333;
}